[module]
  [[module.imports]]
    path = "github.com/FabioSol/Lykeion"
[markup]
  [markup.goldmark]
    [markup.goldmark.renderer]
      unsafe = true
  [markup.highlight]
    noClasses = false
    lineNos = true
    lineNumbersInTable = true